* {
  padding: 0;
  margin: 0;
}

.main {
  margin-bottom: 60px;
}

.picture-list {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.picture-wrapper {
  display: flex;
  align-items: center;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 16px 32px -4px rgba(0, 0, 0, 0.17);
    transform: translateY(-1px);
    .picture-operation {
      display: flex;
    }
  }
  .picture {
    display: block;
    width: 100%;
  }
  .picture-operation {
    display: none;
    position: absolute;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: #000;
    opacity: 0.5;
    justify-content: center;
    .picture-operation-item {
      text-align: center;
      width: 50px;
      line-height: 50px;
      .icon {
        color: #ffffff;
      }
    }
  }
}

.bottom-navigation {
  height: 50px;
  background-color: #ffffff;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #f3f3f3;
  .bottom-navigation-item {
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
    &.selected {
      color: #e49a66;
    }
    &:hover {
      transform: scale(1.4);
    }
  }
}
